
<h1 id='top-text'>zoe kay</h1>

  <a href="/projects">Projects</a>
  <a href="/quilts">Quilts</a>
  <a href="/blog">Blog</a>

<p>Zoe grew up in northern California and has a healthy appetite for smelly cheese, stilt walking, and traveling.</p>

<p>By profession she is a software developer currently working at <a href="http://www.newrelic.com">New Relic</a> on the Business Engineering team after she interned at their Portland office working with the core application team.</p>

<p>Prior to her work at New Relic, Zoe attended <a href="">Hackbright Academy</a>, a 10-week intensive programming course for women where she learned Python, HTML/CSS, and the fundamentals of programming.

<p>In her spare time, Zoe has been an avid quilter since college. You can see her work on the link above, 'Quilts'.</p>